/* styles.css */
body {
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: 440;
  font-style: normal;
}

/* Otros estilos globales */
/* Estilo del scrollbar */
::-webkit-scrollbar {
  width: 8px;
  transition: opacity 0.6s ease-out;
  opacity: 0;
}

/* Fondo del scrollbar */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  transition: background 0.6s ease-out, opacity 0.6s ease-out;
  opacity: 0;
}

/* Mostrar scrollbar cuando el cursor esté sobre el contenedor */
.scroll-container:hover ::-webkit-scrollbar-thumb {
  background: #4b5563;
  opacity: 1;
}

/* Hacer la barra menos visible cuando se deja de interactuar */
.scroll-container:not(:hover) ::-webkit-scrollbar-thumb {
  background: transparent;
  opacity: 0;
}

/* Estilo del thumb personalizado */
input[type="range"]::-webkit-slider-thumb {
  width: 12px;  /* Tamaño más pequeño */
  height: 12px; /* Tamaño más pequeño */
  border-radius: 50%; /* Para hacerlo redondo */
  background: #1956ff; /* Azul oscuro */
  cursor: pointer;
  -webkit-appearance: none; /* Evita que el estilo predeterminado se aplique en Chrome */
}

input[type="range"]::-moz-range-thumb {
  width: 12px;  /* Tamaño más pequeño */
  height: 12px; /* Tamaño más pequeño */
  border-radius: 50%; /* Para hacerlo redondo */
  background: #1956ff; /* Azul oscuro */
  cursor: pointer;
  -moz-appearance: none; /* Evita que el estilo predeterminado se aplique en Firefox */
}

input[type="range"]::-ms-thumb {
  width: 12px;  /* Tamaño más pequeño */
  height: 12px; /* Tamaño más pequeño */
  border-radius: 50%; /* Para hacerlo redondo */
  background: #1956ff; /* Azul oscuro */
  cursor: pointer;
  -ms-appearance: none; /* Evita que el estilo predeterminado se aplique en IE/Edge */
}
